{% extends 'base.html.twig' %}

{% block title %}Perfect Registration - Inscription{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ asset('assets/datepicker/datepicker.css') }}" />
{% endblock %}

{% block body %}


{{ form_start(registrationForm) }}
<div class="container card mb-3 shadow" style="max-width: 40rem;">
    <div class="mb-3">
        <h2 class="text-center mb-3 mt-3">INSCRIPTION</h2>
    </div>
    <div class="row mb-3">
        <div class="col">
            <a class="text-decoration-none" href=""><i class="fa-brands fa-google d-flex justify-content-center fa-2xl"></i></a> 
        </div>
        <div class="col">
           <a href="" class="text-decoration-none"><i class="fa-brands fa-facebook d-flex justify-content-center fa-2xl"></i></a> 
        </div>
        <div class="col">
          <a href={{path("connect_github_start")}} class="text-decoration-none"><i class="fa-brands fa-github d-flex justify-content-center fa-2xl"></i></a>  
        </div>
    </div>
    <div class="xcl-divider"><span>OU</span></div>
    <div class="row mb-3 text-color-white">
        <div class="col">
         {{ form_row(registrationForm.lastname,{
            label: 'Nom',
               'attr' : { 
                'placeholder': 'Nom'},
                row_attr: {
                    class: 'form-floating'
                }
               
           }) }}
            </div>
        <div class="col">
            {{ form_row(registrationForm.firstname, {
                label: 'Prenom',
                'attr' : { 
                    'placeholder': 'Prenom'},
                    row_attr: {
                        class: 'form-floating'
                    }
                   
            }) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
                    {{ form_row(registrationForm.email, {
            label: 'Email',
            type: 'email',
                'attr' : { 
                    'placeholder': 'Email'},
                    row_attr: {
                        class: 'form-floating'
                    }
                   
        }) }}
        </div>

    </div>
    <div class="row mb-3">
    <div class="col">
        {{ form_row(registrationForm.birthdate, {
            label: 'Anniversaire',
            'attr' : { 
                'placeholder': 'Anniversaire'},
                row_attr: {
                    class: 'form-floating'
                }
        }) }}
    </div>
    <div class="col">
        {{ form_row(registrationForm.phone, {
            label:'Téléphone',
            'attr' : { 
                'placeholder': 'Téléphone'},
                row_attr: {
                    class: 'form-floating'
                }
        }) }}
    </div> 
    </div>
    <div class="row mb-3">
        <div class="col">
                   {{ form_row(registrationForm.genre, {
            label: 'Genre',
            'attr' : { 
                'placeholder': 'Genre'},
                row_attr: {
                    class: 'form-floating'
                }
        }) }} 
        </div>
        <div class="col">
                   {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de Passe',
            'attr' : { 
                'placeholder': 'Mot de passe'},
                row_attr: {
                    class: 'form-floating'
                }
        }) }} 
        </div>
    </div>
    {{ form_row(registrationForm.agreeTerms, {
        label: 'Accepter les conditions'
    }) }}
    <div class="d-grid gap-2 col-6 mx-auto">
        <button type="submit" class="btn border border-3 rounded-pill">S'inscrire</button>
    </div>
    
</div>
{{ form_end(registrationForm) }}
{% endblock %}


{% block javascripts %}
<script src="{{ asset('assets/datepicker/datepicker.js') }}"></script>
<script>
    jQuery(Document).ready(function () {
        $('.js-datepicker').datepicker();
    });
</script>
{% endblock %}