{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
   

    {{ form_start(registrationForm) }}
    <div class="container ">
        <div class="row">
           {{ form_row(registrationForm.lastname, {
               label: 'Nom'
           }) }}
        </div>
        <div class="row">
            {{ form_row(registrationForm.firstname, {
                label: 'Prenom'
            }) }}
        </div>
      <div class="row">
          {{ form_row(registrationForm.email) }}
      </div>
      <div class="row">
 {{ form_row(registrationForm.birthdate) }}
      </div>
      <div class="row">
 {{ form_row(registrationForm.phone) }}
      </div>
      <div class="row">
 {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
      </div>
        
       
       
       
     
   {{ form_row(registrationForm.agreeTerms) }}
        <button type="submit" class="btn">Register</button>
    </div>
    {{ form_end(registrationForm) }}
{% endblock %}
