{% extends 'base.html.twig' %}

{% block title %}Best Deals - Ajouter un deals{% endblock %}

{% block body %}
<div class="container bg-white border rounded">
    <h1 class="mb-3">Poster un nouveau deal</h1>

{{form_start(formvue)}}
<div class="mb-3">
    {{ form_row(formvue.title,{
    label: 'Titre',
       'attr' : { 
        'placeholder': 'Titre'},
        row_attr: {
            class: 'form-floating'
        }
       
   }) }}
</div>

<div class="mb-3">
    {{ form_row(formvue.description,{
    label: 'Description',
       'attr' : { 
        'placeholder': 'Description'},
        row_attr: {
            class: 'form-floating text-area'
        }
       
   }) }}
</div>

<div class="row g-2 mb-3">
    <div class="col-md">
   {{ form_row(formvue.price,{
    label: 'Price',
       'attr' : { 
        'placeholder': 'Price'},
        row_attr: {
            class: 'form-floating'
        }
       
   }) }}
    </div>

   
   <div class="mb-3 col-md">
   {{ form_row(formvue.link,{
    label: 'Lien',
       'attr' : { 
        'placeholder': 'Lien'},
        row_attr: {
            class: 'form-floating'
        }
       
   }) }} 
</div>
</div>



<div class="mb-3">
 {{form_widget(formvue.imageFile)}}   
</div>

<button formnovalidate class="btn btn-primary mb-2">Enregistrer</button>
{{form_end(formvue)}}
</div>

{% endblock %}
