{% extends 'base.html.twig' %}

{% block title %}Best Deals - Deals{% endblock %}

{% block body %}
{% for annonce in annonces %}
<section>
    <div class="container">
        <div class="row justify-content-center mb-3">
            <div class="col-md-12 col-xl-10">
                <div class="card shadow-0 border rounded-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                                <div class="bg-image hover-zoom ripple rounded ripple-surface">
                                    <img src="{{ annonce.imageName ? vich_uploader_asset(annonce) : asset('uploads/placeholder.jpg') }}"
                                        alt="{{ annonce.title }}" class="w-100" />
                                    <a href="#!">
                                        <div class="hover-overlay">
                                            <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);">
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-xl-6">
                                <h5 class="fw-bold">{{ annonce.title }}</h5>
                                <p class="text-truncate mb-4 mb-md-0">
                                    {{ annonce.description}}
                                </p>
                            </div>
                            <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                                <div class="d-flex flex-row align-items-center mb-1">
                                    <h4 class="mb-1 me-1 text-danger fw-bold">{{ annonce.price }} €</h4>
                                </div>
                                <div class="d-flex flex-column mt-4">
                                    <p>{{ annonce.createat|date('d/m/Y') }}</p>
                                    <a href="{{ path('app_annonces_show', {'id': annonce.id})}}"  class="btn btn-primary btn-sm" type="button">Details</a>
                                    <a href="{{ annonce.link }}" type="button" class="btn btn-outline-primary btn-sm mt-2">Voir le Deal <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                                    <p class="mt-4"><i class="fa-solid fa-2xl fa-circle-user"></i> {{annonce.user.firstname}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endfor %}
{% endblock %}