  <nav class="navbar navbar-expand-lg navbar-light bg-white shadow p-3 mb-5 ">
    <div class="container">
      <h2><a class="navbar-brand title" href={{path("app_home")}}>Perfect Registration</a></h2>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse flex-row-reverse" id="navbarNavAltMarkup">
        <nav class="navbar-nav">
          <a class="nav-link" href={{path("app_home")}}>Home</a>

          {% if app.user %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-2xl fa-circle-user"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarScrollingDropdown">
              <li><a class="dropdown-item" href="{{path('app_users')}}">Mon Profile</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{{ path('app_logout') }}">Deconnexion</a></li>
            </ul>
          </li>
          {% else %}
          <a class="nav-link" href={{path("app_login")}}>Connection</a>
          <a class="nav-link" href={{path("app_register")}}>Inscription</a>
          {% endif %}
        </nav>
      </div>
    </div>
  </nav>