{% extends 'base.html.twig' %}

{% block title %}Best Deals - Profile{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-white rounded-end">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-dark min-vh-100">
        <a class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-black text-decoration-none">
          <span class="fs-5 d-none d-sm-inline arvos">Profile</span>
        </a>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
          <li>
            <a href="{{path('app_users')}}" class="nav-link px-0 align-middle text-dark">
              <i class="fa-regular fa-user fa-lg"></i> <span class="ms-1 d-none d-sm-inline">Mon
                Compte</span></a>
          </li>
          <li>
            <a href="{{path('app_users_newsletter')}}" class="nav-link px-0 align-middle text-dark">
              <i class="fa-regular fa-envelope fa-lg"></i> <span class="ms-1 d-none d-sm-inline">Newsletter</span> </a>
          </li>
          {% if is_granted('ROLE_ADMIN') %}
          <li>
            <a href="{{path('admin')}}" class="nav-link px-0 align-middle text-dark">
              <i class="fa-solid fa-shield fa-lg"></i> <span class="ms-1 d-none d-sm-inline">Admin</span> </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
    <div class="col py-3">
      <h1 class="arvos">Bonjour {{app.user.firstname}}.</h1>
      <div class="card-body bg-white rounded shadow p-3 mb-5 bg-body rounded">
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Nom</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">{{app.user.lastname}}</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Prenom</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">{{app.user.firstname}}</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Email</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">{{app.user.email}}</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Téléphone</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">{{app.user.phone}}</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Genre</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">{{app.user.genre}}</p>
          </div>
        </div>
      </div>
      <button class="btn border border-3 rounded-pill float-right">
        <a class="text-decoration-none text-white" href="{{path('app_users_edit')}}">Modifier</a>
      </button>
    </div>
  </div>
</div>
{% endblock %}